:root {
    --color: #477ca2;
    --bgColor: #283843;
    --buttonHoverColor: #225776;
    --buttonActiveColor: #284960;
    --backgroundColorCard: #1c2730;
    --lightColor: #bab5e4;
}

body {
    margin: 0;
    background: var(--bgColor)
}

.no-products, .no-more-products {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px);
  justify-content: center;
  align-items: center;
}

.no-more-products {
    height: 100px;
    max-width: 200px;
    margin: 20px auto;
    background: var(--backgroundColorCard);
    color: var(--lightColor);
    font-family: system-ui;
    font-size: 1rem;
}

.no-products p {
  background-color: var(--backgroundColorCard);
  color: var(--lightColor);
  padding: 20px 30px;
  font-size: 1rem;
  font-family: system-ui;
}

.product-list {
    display: grid;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.filters {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.select-categories, .filter-input-container, .filter-button-submit {
    margin: 0 10px;
}

#maxPrice {
    width: 50%;
    display: flex;
    justify-self: center;
    outline: none;
    border: none;
    background-color: var(--backgroundColorCard);
    color: var(--lightColor);
    padding: 8px;
    text-align: center;
}

#maxPrice::-webkit-inner-spin-button,
#maxPrice::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-button-submit {
    background: var(--buttonActiveColor);
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    color: #dcecf9;
    flex: .2;
}

.filters-container {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.filters-container .select-categories {
    display: flex;
    flex-direction: column;
}

.filters-container .filter-input-container {
    display: flex;
}

@media only screen and (max-width: 480px) {
    .filters {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .span-select {
        font-size: .6rem;
    }

    .product-list {
        margin: 10px auto;
        padding: 5px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2px;
    }

    .filters-container .filter-input-container {
        flex-grow: 1;
        justify-content: center;
    }   

    #maxPrice {
        width: 100%;
        font-size: .7rem;
    }

    .filter-button-submit {
        width: 50%;
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 320px) {
    .filters-container {
        flex-direction: column;
        gap: 10px;
    }
}