.cart-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  max-width: 1200px;
  padding: 20px;
}

.cart-item {
  margin: 10px 0;
  width: 100%;
  max-height: 200px;
  display: flex;
  padding: 10px;
  position: relative;
  background: var(--backgroundColorCard);
}

.cart-item-image-container {
  display: flex;
  flex: 1;
}

.cart-item-image {
  width: 100%;
  object-fit: cover;
}

.cart-item-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 4;
  justify-content: space-between;
}

.cart-item-details-name {
  padding: 0 20px;
  font-family: system-ui;
  font-size: .9rem;
  font-weight: 600;
  color: var(--color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cart-item-details-price {
  padding: 0 40px;
  font-family: system-ui;
  font-size: 1.2rem;
  color: var(--lightColor);
  font-weight: 600;
}

.cart-item-update-quantity {
  display: flex;
  justify-content: center;
}

.cart-item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-update-quantity, .cart-item-button-container {
  margin: 0 20px;
  display: flex;
  justify-content: center;
}

.cart-item-update-quantity {
  background: var(--lightColor);
}

.cart-item-quantity {
  margin: 0 10px;
  display: flex;
  align-items: center;
  padding: 4px;
}

.cart-item-button-remove {
  color: var(--lightColor);
  background: var(--backgroundColorCard);
  border: none;
  padding: 6px 12px;
  font-family: system-ui;
  font-size: .8rem;
  font-weight: 500;
  cursor: pointer;
}

.cart-item-quantity-subtract, .cart-item-quantity-add {
  color: var(--backgroundColorCard);
  background: var(--lightColor);
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
} 

.cart-item-quantity {
  color: var(--backgroundColorCard);
  font-weight: 500;
  font-family: system-ui;
}

.redirect-home {
  text-decoration: none;
  padding: 6px 12px;
  background-color: var(--buttonHoverColor);
  color: var(--lightColor);
  font-family: system-ui;
}

@media only screen and (max-width: 768px) {
  .cart-item-details-container {
    flex: 2;
  }
} 

@media only screen and (max-width: 480px) {
  .cart-item-details-name {
    font-size: .7rem;
  }

  .cart-item-details-price {
    font-size: .7rem;
  }

  .cart-item-details-container {
    flex: 1;
    padding: 0;
  }

  .cart-item-button-remove {
    font-size: .6rem;
    text-wrap: nowrap;
  }

  .cart-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .cart-item-actions {
    padding: 0;
    font-size: .6rem;
  }

  .cart-item svg {
    width: 8px;
    height: 8px;
  }
  
  .cart-item-update-quantity, .cart-item-button-container {
    margin: 0;
  }

  .cart-item-quantity-subtract, .cart-item-quantity-add {
    padding: 2px;
  }

  .cart-item-quantity {
    font-size: .6rem;
    margin: 0 5px;
  }

  .cart-item-update-quantity {
    margin-left: 10px;
  }
}