.product {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--backgroundColorCard);
  font-family: system-ui;
}

.product-img-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-data-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-data-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.product-data-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--color);
}

.product-data-price {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-left: 20px;
  color: var(--lightColor);
}

.product-data-interactions {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.product-data-add-to-cart-button {
  padding: 6px 12px;
  width: 100%;
  background-color: var(--color);
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #e9ebf1;
  transition: background-color 0.2s ease-in-out;
}

.product-data-add-to-cart-button:hover {
  background-color: var(--buttonHoverColor);
}

.product-data-add-to-cart-button:active {
  background-color: var(--buttonActiveColor);
}

.product-data-quantity-interaction {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: var(--lightColor);
  color: var(--backgroundColorCard)
}

.product-data-quantity-subtract,
.product-data-quantity-add {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background: var(--lightColor);
}

.product-data-quantity {
  font-size: 1rem;
  min-width: 2rem;
  text-align: center;
}

.product-description-title {
  color: var(--color);
}

.product-description-container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  background: var(--backgroundColorCard);
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-family: system-ui;
  color: var(--lightColor);
}

@media only screen and (max-width: 1280px) {
  .product {
    flex-direction: column;
    margin: 20px;
  }

  .product-description-container {
    margin: 20px;
  }
}
